
services:

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80/tcp"
    environment:
      TZ: 'Europe/Oslo'
      WEBPASSWORD: ${{ webpassword }}
      DNSMASQ_LISTENING: 'all'
    # volumes:
    #   - './etc-pihole:/etc/pihole'
    #   - './etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

  wireguard:
    image: linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
     - NET_ADMIN
     - SYS_MODULE
    environment:
     - PUID=1000
     - PGID=1000
     - TZ=Europe/Oslo
     - SERVERURL=auto
     - SERVERPORT=51820
     - PEERS=3
     - PEERDNS=auto
     - INTERNAL_SUBNET=10.13.13.0 
    volumes:
     - ./wireguard/config:/config
     - /lib/modules:/lib/modules:ro
    ports:
     - "51820:51820/udp"
    sysctls: 
     - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

  nginx:
   image: nginx:latest
   container_name: nginx
   ports:
     - "80:80"
     - "443:443"
   volumes:
     - ./nginx/config/:/etc/nginx/conf.d
     - ./nginx/certs/:/etc/nginx/certs
   depends_on:
    - pihole
    - wireguard
   restart: unless-stopped

  # terraria:
  #   container_name: terraria
  #   image: ryshe/terraria:vanilla-1.4.5.3
  #   tty: true
  #   stdin_open: true
  #   ports:
  #     - "7777:7777"
  #   volumes: 
  #    - ./terraria/worlds:/root/.local/share/Terraria/Worlds
  #    - ./terraria/config:/config
  #   environment:
  #     - WORLD_FILENAME = epic.wld 
  #   restart: unless-stopped




   
