name: Deploy to server

on:
  push:
    branches:
     - main

jobs:
  deploy:
    runs-on: [self-hosted, debian]
    steps:
     - uses: actions/checkout@v4

     - name: Decrypt secret
       run: sops -d --input-type dotenv --output-type dotenv .env.enc > .env

     - name: Deploy
       run: |
          docker compose up -d terraria-1.4.5.4 --force-recreate
          docker system prune -f

